/* ----- GLOBAL ----- */

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 440px) {
  /* ----- HEADER ----- */

  header {
    min-height: 7vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.3);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  }

  header ul {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
  }

  header ul li {
    list-style: none;
    cursor: pointer;
    margin-top: 3%;
  }

  header ul li img {
    height: 35px;
  }

  /* ----- MAIN ----- */
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  /* ----- APRESENTAÇÃO ----- */

  main h3 {
    margin: 15px 30px;
  }

  main div#apresentacao h1 {
    margin: 15px 25px;
  }

  main div#apresentacao img {
    height: 250px;
    border: 1px solid black;
    border-radius: 3%;
  }

  main div#apresentacao div#divApresentacao p {
    margin: 20px 30px;
    font-size: 1.1em;
  }

  main div#apresentacao div#divApresentacao span {
    font-weight: bold;
  }

  main div#tecnologias {
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.3);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  }

  main div#projetos {
    width: 100%;
  }

  /* ----- TECNOLOGIAS ----- */

  main img{
    margin: 15px 25px;
  }

  /* ----- FOOTER ----- */

  footer {
    min-height: 10vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.3);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, 0.3);
  }

  footer span {
    font-weight: bold;
  }

  footer p#desenvolvido {
    margin-top: 15px;
  }

  footer p#creditos a {
    font-size: small;
    color: black;
  }
}
